@media only screen and (min-width: 500px)
{
    .wrap {
        overflow: visible;
    }
    .footer, .wrap:after {
        z-index: 1000;
        position: relative;
        background: #222;
    }
}
@media only screen and (min-width: 800px)
.wrap {
    overflow: hidden;
    position: relative;
    z-index: 100;
    min-height: 100%;
    margin-bottom: -170px;
}
@media only screen and (min-width: 340px)
{
    .main-nav a {
        padding: 15px 10px 18px;
    }
    .footer, .wrap:after {
        z-index: 1000;
        position: relative;
        background: #222;
    }
}
@media only screen and (min-width: 280px)
{
    .main-nav a {
        padding: 15px 8px 18px;
    }
    .footer, .wrap:after {
        z-index: 1000;
        position: relative;
        background: #222;
    }
}
@media only screen and (min-width: 800px)
.home .page-title {
    margin-top: 40px;
    font-size: 64px;
    font-size: calculateRem(64px);
}
@media only screen and (min-width: 800px)
{
    .footer, .wrap:after {
        height: 170px;
    }
    .footer, .wrap:after {
        z-index: 1000;
        background: transparent;
        position: relative;
        /* background: #222; */
    }
}
@media only screen and (min-width: 800px)
.footer, .wrap:after {
    height: 170px;
}
@media only screen and (min-width: 800px)
.footer h3 {
    text-align: left;
}
@media only screen and (min-width: 800px)
.social li {
    float: left;
}
@media only screen and (min-width: 800px)
.social li+li {
    margin-left: 20px;
}
@media only screen and (min-width: 800px)
.social li {
    float: left;
}
.social li {
    margin-bottom: 20px;
}
ul li {
    margin: 0;
}

