<div class="about">
    <main id="appbody" class="main-content">
        <h2>About</h2>
        <div class="about-body">
            <p>
                Hi, I'm Tarun Sharma.
            </p>

            <div id="ember862"
                class="pv-top-card-section__summary pv-top-card-section__summary--with-content mt4 ember-view">
                <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
                        class="lt-line-clamp__raw-line">I am Publisher, Trainer &amp; Developer, working on Enterprise
                        and open source Technologies JavaScript frameworks (React &amp; Angular 2.x) and J2EE web
                        frameworks, Spring, Spring MVC, Struts, Hibernate, Web service Jax-WS, Jax-RS and having
                        experience of working Enterprise SOA architecture and different tools from IBM and
                        Oracle.<br>Currently working with JavaScript framework Angular Node js and exploring development
                        of enterprise apps in Android.<br><br>I am passionate MEAN-Full Stack Javascript developer using
                        MongoDB, ExpressJS, NodeJS, AngularJS and also doing mobile application
                        development.<br><br>Specialities:-<br><br>►►Skills ◄◄<br><br>✔ Web App Development (MEAN/MERN
                        Stack Expert ) <br>✔ Linux Server Administration &amp; Shell scripting (☁ AWS or any VPS) AWS
                        Trainer <br>✔ AWS, Git, Chef ,Puppet, Jenkins, Docker, AWS Advance knowledge,Circle CI,Travis
                        CI,<br>✔ Agile Process Rally Agile process<br>✔ Restful API Development (Node js &amp;
                        Java)<br>✔ Strong Javascript &amp; ES 5/6/7 practical knowledge (Babel, Webpack, Browserify,
                        System js)<br>✔ Angular.js, React.js(Flux, Redux), TypeScript, Angular 1.5, Core javascript (ES5
                        + ES2015)<br>✔ Node.js, Sails.js, Mean.io, Hapi.js, Koa js<br>✔ MongoDb, Redis, Elasticsearch,
                        MySql<br>✔ IOS and Android Hybrid Mobile App Development ( Ionic Framework, React native)<br>✔
                        Mocha (TDD) Chai, Jest<br>✔ Grunt, Gulp, Webpack<br>✔ Github, Bitbucket, SVN<br>✔ Rapid
                        Prototyping <br>✔ Ability to research and adapt new techs<br>✔ Good Communicator
                        <br><br>►►Currently Exploring ◄◄<br>Web Security, Node JS, ES6, DevOps</span>

                    <span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">...</span></p>

                <p> <a href="">Early Life</a></p>
                <p>Born on August July 1990 and living with my family in Jaipur Rajasthan India </p>
                <p><a href="">School Days</a></p>
                <p>Attended preparatory, elementary, and high-school in a competitive school (MHS jaipur) then went to
                    college at
                    the University SKIT Jaipur and graduated with Bachelor's Degree in Computer Science Engineering.</p>

                <p> <a href="" class="list-group-item-heading">programming</a></p>
                <p class="list-group-item-text">This passion actually drives me in many different directions. When i
                    work for any development
                    task it feels like i am going to build something smart and something different which is something
                    new for this world , I am
                    developer and passionate about learning latest technologies and also provide learning to others on
                    different technologies</p>

                <p href="#" class="list-group-item">
                    <p><a href="" class="list-group-item-heading">music</a>
                        <p class="list-group-item-text">It gives me fluid when i'm dehydrated by constant work, stress,
                            and noisy environment. it also
                            gives me way to express my self in a different way and in a different tone. i play guitar.
                        </p>
                    </p>



                    <p>
                        Please <a href="/#contact">contact me</a> if you would like to work on a project together, or
                        just want to chat.
                    </p>
            </div>

            <p class="res-download">
                <a class="btn download" href="media/sharma1.pdf">Download Resume PDF</a>
            </p>
    </main>

</div>