 <footer class="footer">

        <h3>Where to find me</h3>
        <ul class="social">
            <li>
                <a target="_blank" href="https://twitter.com/tkssharma"><i class="fa fa-twitter"><span class="text">Twitter</span></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g"><i class="fa fa-youtube"><span class="text">Youtube</span></i></a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/tkssharma"><i class="fa fa-github"><span class="text">Github</span></i></a>
            </li>
            <li>
                <a target="_blank" href="https://bitbucket.org/tkssharma"><i class="fa fa-bitbucket"><span class="text">Bitbucket</span></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/tarun-sharma-03790254"><i class="fa fa-linkedin"><span class="text">LinkedIn</span></i></a>
            </li>
           
        </ul>
    </footer>