
        <header class="header">
            <div class="header-wrap">
                  <a class="homelink" href="#/home"><span class="logo">TS</span>
                    <h1 class="name">Tarun Sharma</h1>
                </a>
                 <nav class="main-nav">
                    <ul>
                     <li><a class="talks" href="#/talks">My Talks</a></li>
                     <li><a class="training" href="#/training">Trainings</a></li>
                     <li><a class="about" href="#/about">About</a></li>
                     <li><a class="training" href="#/links">Links</a></li>
                      <li><a class="projects" href="#/projects">Projects</a></li>
                      <li><a class="contact" href="https://medium.com/@tkssharma/">Blogs</a></li>
                      <li><a class="contact" href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g?view_as=subscriber">YouTube</a></li>
                      <li><a class="contact" href="#/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
