<div class="about">
  <main id="appbody" class="main-content">
      <h2>Reference Links</h2>
      <div class="about-body">
          <p>
              Github | Twitter | Scrimba | Packt | Medium | Stack Overflow | Plurlsight
          </p>

          <div id="ember862"
              class="pv-top-card-section__summary pv-top-card-section__summary--with-content mt4 ember-view">
              <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
                      class="lt-line-clamp__raw-line">100 Meidum Blogs

                  <span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">...</span></p>

                  <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
                    class="lt-line-clamp__raw-line">1000 YouTube Learning Videos

                <span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">...</span></p>

                <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
                  class="lt-line-clamp__raw-line">Training on All Technologies

              <span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">...</span></p>

          

  </main>

</div>