<div class="about">
  <main id="appbody" class="main-content">
    <h2>Reference Links</h2>
    <div class="about-body">
      <p>
        Github | Twitter | Scrimba | Packt | Medium | Stack Overflow | Plurlsight
      </p>

      <div id="ember862" class="pv-top-card-section__summary pv-top-card-section__summary--with-content mt4 ember-view">
        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
            class="lt-line-clamp__raw-line">100 Meidum Blogs <a target="_blank"
              href="https://medium.com/@tkssharma">Medium</a></span></p>

        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
            class="lt-line-clamp__raw-line">1000 YouTube Learning Videos <a target="_blank"
              href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g">YouTube</a></span></p>

        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
            class="lt-line-clamp__raw-line">Training on All Technologies <a target="_blank"
              href="https://tkssharma.herokuapp.com/">Trainings</a></span></p>

        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
            class="lt-line-clamp__raw-line">Published Courses <a target="_blank"
              href="https://www.packtpub.com/books/info/authors/tarun-sharma">Published Courses</a></span></p>

        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view"> <span
            class="lt-line-clamp__raw-line">All About Code <a target="_blank"
              href="https://github.com/tkssharma">Github</a></span></p>

        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view">
          <span class="lt-line-clamp__raw-line">All JS Trainings <a target="_blank"
              href="https://scrimba.com/@tkssharma">Free courses</a></span></p>

        <p id="ember864" class="pv-top-card-section__summary-text text-align-left mt4 ember-view">
          <span class="lt-line-clamp__raw-line">All JS Videos <a target="_blank"
              href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g">Training</a></span></p>

  </main>

</div>