<div class="project">
    <main id="appbody" class="main-content">

        <h2 class="page-title">Projects</h2>
        <p>I've worked on many types of projects both personal and professional. Here are some projects I've developed/created.</p>

        <ul class="project-list">
            <li>
                <h3 class="project-title"><a target="_blank" href="#">Diversey IOC Apps</a></h3>
                <p>
                    I am currently working with angular 5.0 application for Diversey client and writing backend in node js with sequelize framework 
                </p>
            </li>

            <li>
                <h3 class="project-title"><a target="_blank" href="www.livehindustan.com">livehindustan Node App </a></h3>
                <p>livehindustan Ap Built using Node Elasstic Mongo,a complete solution using Full Stack Technologies
                    <br>Built With: Full Stack Node, Mongo deployed on EC2 containers
                </p>
            </li>
 
            <li>
                <h3 class="project-title"><a target="_blank" href="">Integrated Eligibility Portal US-Health Care</a></h3>
                <p>
                    Developing Integrated Eligibility project for SE Region USA for Health care support for US citizen,Its integrated application to determine the Eligibility of citizen for different Health care program running for state government while working with
                    <a
                        target="_blank" href="">UnitedHealth Group</a><br> Client :- <a target="_blank" href="">US State Government</a> Built With: Angular, Bootstrap ,Spring Hibernate.
                </p>
            </li>
            <li>
                <h3 class="project-title"><a target="_blank" href="">Billing System BVA Project</a></h3>
                <p>
                    Developed and supported of CBS-Billing Critical ATT & T application for south East billing tool being used by more than 40,000 Customer care representative in South East Region USA while working with <a target="_blank" href="">Amdocs India</a>                    <br> Client :- <a target="_blank" href="">AT & T</a><br> Built With: Java Web Services, Java, J2EE
                </p>
            </li>
            <li>
                <h3 class="project-title"><a target="_blank" href="">Learning Portal</a></h3>
                <p>Built for: <a target="_blank" href="">Amdocs DVCI </a><br>Built With: Java J2EE with Spring Hibernate </p>
            </li>
            <li>
                <h3 class="project-title"><a target="_blank" href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g"> Training Youtube Channel</a></h3>
                <p>
                    1000+ Web Dev Tutorials on: <a target="_blank" href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g">Youtube</a><br>Channel for Front end development and java Technologies
                </p>
            </li>

            <li>
                <h3 class="project-title"><a target="_blank" href="https://tkssharma.wordpress.com/">My Blog </a></h3>
                <p><a target="_blank" href="https://medium.com/@tkssharma">Medium Blogs</a><br>Node , Angular, Front end development</p>
            </li>



        </ul>
    </main>
</div>
