<div class="talks">
    <main id="appbody" class="main-content">

        <h2 class="page-title">My Talks</h2>
        <p>I speak in Conferences and conduct online webcast on Technical sessions</p>

        <ul class="project-list">
            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Snippets from Tarun Sharma’s session @drupalcamplondon on Reusing Components
                    between <a href="https://twitter.com/hashtag/Angular?src=hash&amp;ref_src=twsrc%5Etfw">#Angular</a>,
                    <a href="https://twitter.com/hashtag/React?src=hash&amp;ref_src=twsrc%5Etfw">#React</a>, <a
                        href="https://twitter.com/hashtag/Vue?src=hash&amp;ref_src=twsrc%5Etfw">#Vue</a> and
                    Web-Components. <a href="https://t.co/zgnLRVaD1V">pic.twitter.com/zgnLRVaD1V</a></p>&mdash; SRIJAN
                (@Srijan) <a href="https://twitter.com/Srijan/status/1102189489248595968?ref_src=twsrc%5Etfw">March 3,
                    2019</a>
            </blockquote>


            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Catch the session at <a
                        href="https://twitter.com/hashtag/DCLondon2019?src=hash&amp;ref_src=twsrc%5Etfw">#DCLondon2019</a>
                    on&quot; Reusing Components between Angular, React, Vue and Web-Components&quot;. More here: <a
                        href="https://t.co/CumllOmFU2">https://t.co/CumllOmFU2</a><a
                        href="https://twitter.com/hashtag/Drupalcamplondon?src=hash&amp;ref_src=twsrc%5Etfw">#Drupalcamplondon</a>
                    <a href="https://twitter.com/hashtag/Drupal?src=hash&amp;ref_src=twsrc%5Etfw">#Drupal</a> <a
                        href="https://t.co/fE4qEndSJj">pic.twitter.com/fE4qEndSJj</a></p>&mdash; SRIJAN (@Srijan) <a
                    href="https://twitter.com/Srijan/status/1100761489005256705?ref_src=twsrc%5Etfw">February 27,
                    2019</a>
            </blockquote>



            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Tarun Sharma, <a href="https://twitter.com/hashtag/MEAN?src=hash">#MEAN</a> &amp;
                    <a href="https://twitter.com/hashtag/JS?src=hash">#JS</a> developer, shares his thoughts about ES6
                    &amp; <a href="https://twitter.com/hashtag/babel?src=hash">#babel</a> - Follow him on Twitter - <a
                        href="https://twitter.com/tkssharma">@tkssharma</a> for more updates <a
                        href="https://twitter.com/hashtag/FEConfIN?src=hash">#FEConfIN</a> <a
                        href="https://t.co/5iKsEQBFJc">pic.twitter.com/5iKsEQBFJc</a></p>&mdash; TO THE NEW (@TOTHENEW)
                <a href="https://twitter.com/TOTHENEW/status/832824339728855040">February 18, 2017</a>
            </blockquote>



            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">My flash talk on Graphql <a
                        href="https://twitter.com/ReactJS_News">@ReactJS_News</a> <a
                        href="https://twitter.com/reactjs">@reactjs</a> <a
                        href="https://twitter.com/js_channel">@js_channel</a> <a
                        href="https://t.co/pubJpYwVvT">pic.twitter.com/pubJpYwVvT</a></p>&mdash; Tarun Sharma
                (@tkssharma) <a href="https://twitter.com/tkssharma/status/754009965145251840">July 15, 2016</a>
            </blockquote>


            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">My Talk on React Redux , Managing state using Redux for React apps <a
                        href="https://twitter.com/Srijan">@Srijan</a> <a
                        href="https://twitter.com/reactjsdelhi">@reactjsdelhi</a> <a
                        href="https://t.co/dAsMvY8W88">pic.twitter.com/dAsMvY8W88</a></p>&mdash; Tarun Sharma
                (@tkssharma) <a href="https://twitter.com/tkssharma/status/762536772140171264">August 8, 2016</a>
            </blockquote>


            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/ReactJS?src=hash">#ReactJS</a> &amp; <a
                        href="https://twitter.com/hashtag/Redux?src=hash">#Redux</a> make one sweet pair! Join us at <a
                        href="https://t.co/peCxkWkvXT">https://t.co/peCxkWkvXT</a> &amp; explore how they impact future
                    <a href="https://twitter.com/hashtag/webapps?src=hash">#webapps</a>. <a
                        href="https://t.co/20hhTK3Nu6">pic.twitter.com/20hhTK3Nu6</a></p>&mdash; Srijan Technologies
                (@Srijan) <a href="https://twitter.com/Srijan/status/765563784631033856">August 16, 2016</a>
            </blockquote>


            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Join <a href="https://twitter.com/tkssharma">@tkssharma</a> at <a
                        href="https://t.co/bdjeLjKZc0">https://t.co/bdjeLjKZc0</a> to learn all about <a
                        href="https://twitter.com/hashtag/Redux?src=hash">#Redux</a> &amp; using it to write <a
                        href="https://twitter.com/hashtag/productionapps?src=hash">#productionapps</a>. <a
                        href="https://twitter.com/reactjs">@reactjs</a> <a
                        href="https://t.co/vG0HCVA36Y">pic.twitter.com/vG0HCVA36Y</a></p>&mdash; Srijan Technologies
                (@Srijan) <a href="https://twitter.com/Srijan/status/766303782103871492">August 18, 2016</a>
            </blockquote>


            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Submitted talk on React Redux— JSFoo 2016 —HasGeek <a
                        href="https://t.co/H38zefgyna">https://t.co/H38zefgyna</a> , put your vote for me :)</p>&mdash;
                Tarun Sharma (@tkssharma) <a href="https://twitter.com/tkssharma/status/762182394300493825">August 7,
                    2016</a>
            </blockquote>


            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr"><a href="https://twitter.com/tkssharma?ref_src=twsrc%5Etfw">@tkssharma</a> is
                    presenting at <a
                        href="https://twitter.com/hashtag/DrupalCampGoa?src=hash&amp;ref_src=twsrc%5Etfw">#DrupalCampGoa</a>
                    today. Our resident JavaScript expert will be talking about &quot;Reusing Components between
                    Angular, React, Vue, Ember, and Web-Components&quot;. Join him in the Beta room-3:30- 4:50. <a
                        href="https://t.co/2k2VqF8kY1">https://t.co/2k2VqF8kY1</a> <a
                        href="https://t.co/LP1VxYdyNO">pic.twitter.com/LP1VxYdyNO</a></p>&mdash; Srijan Technologies
                (@Srijan) <a href="https://twitter.com/Srijan/status/972406714875154432?ref_src=twsrc%5Etfw">March 10,
                    2018</a>
            </blockquote>




        </ul>
    </main>
</div>