<div class="training">
   <main id="appbody" class="main-content">
    <h2>@Me as a Trainer </h2>
    <div class="about-body">
        <p>
         My Trainings and free webcasts
     </p>
     <p>
         Please find My training which i have delievered on Node Angular JS, React for Free !!
     </p>
     <ul class="project-list">
         <li>
            <h3 class="project-title"><a target="_blank" href="">Full Stack  Training</a></h3>
            <p>
                The best place for learning JavaScript development At Full Stack Training we provide online training courses to get you or your team up and running on the best of breed latest technologies. And the best thing is, there is only one language to learn - JavaScript. We cover Node.js, AngularJS, Express, web componenents, the MEAN stack and more.
            </p>
        </li>
         <li>
            <h3 class="project-title"><a target="_blank" href="">Javascript Training</a></h3>
            <p>
                JavaScript is a golden pieace that fits with all whether it is website, mobile UI, e-learning, e-content publishing, gaming, presentations, or serverside programmings so you need to learn it at very advanced level. Finding a good institute for JavaScript training is a tough job, to solve this problem ADMEC Multimedia Institute presents JavaScript Master Course, a very unique and advanced JavaScript course. We are one of the best advanced JavaScript training institutes in Delhi. This JavaScript course in our institute has been especially customized for web designers and UI developers who want to do an advanced and professional level training in web scripting using advanced JavaScript's procedural and object oriented (OOJS) approaches. This course will cover every technique right from script setup to advanced DOM and manipulation of HTML and CSS using JavaScript programming, we will cover basic and advance features of JS
            </p> 
        </li>
            
        <li>
            <h3 class="project-title"><a target="_blank" href="">React JS Training</a></h3>
            <p>
                React Training was formed to support the development and maintenance of the most popular open source libraries in the React community including flux  and Redux.
                Learn to make your components uncommonly reusable, make your apps more performant, and uncover the power that comes from functional UI.

                @React js @ES6 @Redux @Flux @native is covered in training
                <a href="https://slides.com/reactredux" target="_blank">Training Link</a>
                <br> 
            </p>
        </li>
        
        <li>
            <h3 class="project-title"><a target="_blank" href="http://gennexttraining.herokuapp.com">Node js Training</a></h3>
            <p>Node.js is a powerful tool for controlling servers, building web applications, and creating event-driven programs. And it takes JavaScript—a language familiar to all web developers—out of the browser. With Node.js, you can build applications that run on your laptop or even the cloud
                I have covered lot of things in this training 30 days of course which includes Node with Express and MEAN Stak develoment 
                
                @Node js @sails js @mongodb @passport js  @sequalize @Node with client angular
                <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
                <br>
            </p>
        </li>
        <li>
            <h3 class="project-title"><a target="_blank" href="">Angular JS Training</a></h3>
            <p>This course is designed for the absolute beginner, meaning no prior knowledge of AngularJS is required, however you should already have a fundamental understanding of HTML, CSS and JavaScript.

                You will start by setting up the application and learning about the views, controllers, and built-in directions. From there, the course will teach you about filters, showing you tricks with filters and how to create custom filters. 
                
                @angular js @promises  @ui router @material design  @UI Bootstrap
                <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
                <br>
            </p>
        </li>
        <li>
            <h3 class="project-title"><a target="_blank" href="">Angular  2.0 Training</a></h3>
            <p>This course designed for Angular 2.0 having all different things about angular 2.0
               inclusing module loaders transpilers ES6 with Typescript and all concepts of angular 2.0 , its 15 days course 12 hours training , it covers training using ES6 and typescript and web build system gulp .

               @angular2.0 js @gulp  @systemjs @es6 @angular Router   @module loaders @transpilers @TypeScript
               <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
               <br>
           </p>
       </li>
      
         <li>
            <h3 class="project-title"><a target="_blank" href="">Angular  2.0 course</a></h3>
            <p>Training course has been published on Pack Publishing for Angular 2.0 
                   It is covering deep dive concepts of angular 2.0 and creating live application in angular 2.0.
               @angular2.0 js @gulp  @systemjs @es6 @angular Router   @module loaders @transpilers @TypeScript
               <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
               <br>
           </p>
       </li>

   </ul>

</div>

<p class="res-download">
<a class="btn download" target="_blank" href="media/training.pdf">Download  Training Data </a>
</p>

</div>
